<div style="margin: 5rem; display: flex; justify-content: center">
  <h1><b>Create new employee</b></h1>
</div>

<div style="margin-left: 10rem; margin-right: 10rem">
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="fname" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="fname"
        formControlName="fname"
      />

      <small
        *ngIf="
          createForm.get('fname')?.hasError('required') &&
          (createForm.get('fname')?.touched || createForm.get('fname')?.dirty)
        "
      >
        First name is required
      </small>

      <small
        *ngIf="
          createForm.get('fname')?.hasError('pattern') &&
          (createForm.get('fname')?.touched || createForm.get('fname')?.dirty)
        "
        >First name must only contain alphabetical characters</small
      >
      @if (!createForm.get('fname')?.hasError('pattern')) {
      <small
        *ngIf="
          createForm.get('fname')?.hasError('minlength') &&
          (createForm.get('fname')?.touched || createForm.get('fname')?.dirty)
        "
        >First name must contain atleast 3 characters <br
      /></small>

      <small
        *ngIf="
          createForm.get('fname')?.hasError('maxlength') &&
          (createForm.get('fname')?.touched || createForm.get('fname')?.dirty)
        "
        >First name should not exceed 15 characters</small
      >}
    </div>

    <div class="mb-3">
      <label for="lname" class="form-label">Last Name </label>
      <input
        type="text"
        class="form-control"
        id="lname"
        formControlName="lname"
      />
      <small
        *ngIf="
          createForm.get('lname')?.hasError('required') &&
          (createForm.get('lname')?.touched || createForm.get('lname')?.dirty)
        "
      >
        Last name is required
      </small>

      <small
        *ngIf="
          createForm.get('lname')?.hasError('pattern') &&
          (createForm.get('lname')?.touched || createForm.get('lname')?.dirty)
        "
        >Last name must only contain alphabetical characters</small
      >
      @if (!createForm.get('lname')?.hasError('pattern')) {
      <small
        *ngIf="
          createForm.get('lname')?.hasError('minlength') &&
          (createForm.get('lname')?.touched || createForm.get('lname')?.dirty)
        "
        >Last name must contain atleast 3 characters <br
      /></small>

      <small
        *ngIf="
          createForm.get('lname')?.hasError('maxlength') &&
          (createForm.get('lname')?.touched || createForm.get('lname')?.dirty)
        "
        >Last name should not exceed 15 characters</small
      >}
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
      />
      <small
        *ngIf="
          createForm.get('email')?.hasError('required') &&
          (createForm.get('email')?.touched || createForm.get('email')?.dirty)
        "
      >
        Email is required
      </small>
      <small
        *ngIf="
          createForm.get('email')?.hasError('pattern') &&
          (createForm.get('email')?.touched || createForm.get('email')?.dirty)
        "
        >Please enter a valid email address</small
      >
    </div>

    <div class="mb-3">
      <label for="age" class="form-label">Age</label>
      <input
        type="number"
        class="form-control"
        id="age"
        formControlName="age"
      />
      <small
        *ngIf="
          createForm.get('age')?.hasError('required') &&
          (createForm.get('age')?.touched || createForm.get('age')?.dirty)
        "
      >
        Age is required
      </small>
      <small
        *ngIf="
          createForm.get('age')?.hasError('max') &&
          (createForm.get('age')?.touched || createForm.get('age')?.dirty)
        "
        >Age must be less than 100</small
      >
      <small
        *ngIf="
          createForm.get('age')?.hasError('min') &&
          (createForm.get('age')?.touched || createForm.get('age')?.dirty)
        "
        >Age must be greater than 0</small
      >
    </div>
    <div class="d-grid gap-2" style="margin-top: 2rem">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="createForm.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
