.ng-invalid.ng-touched {
  border-color: red;
}
small {
  color: red;
}
.crtHd::after {
  content: " 📝";
}

.btnCrt {
  background-color: rgb(169, 214, 255);
  border-radius: 6px;
  height: 50px;
  width: 200px;
}
