<div style="margin: 5rem; display: flex; justify-content: center">
  <h1 class="crtHd"><b>Create Page</b></h1>
</div>

<div style="margin-left: 20rem; margin-right: 20rem">
  <form [formGroup]="createForm">
    <div class="row">
      <div class="col mb-3">
        <label for="fName" class="form-label">First Name</label>
        <input
          type="text"
          class="form-control"
          id="fName"
          formControlName="fName"
        />

        <small
          *ngIf="
            createForm.get('fName')?.hasError('required') &&
            (createForm.get('fName')?.touched || createForm.get('fName')?.dirty)
          "
        >
          First name is required
        </small>

        <small
          *ngIf="
            createForm.get('fName')?.hasError('pattern') &&
            (createForm.get('fName')?.touched || createForm.get('fName')?.dirty)
          "
          >First name must only contain alphabetical characters</small
        >
        @if (!createForm.get('fName')?.hasError('pattern')) {
        <small
          *ngIf="
            createForm.get('fName')?.hasError('minlength') &&
            (createForm.get('fName')?.touched || createForm.get('fName')?.dirty)
          "
          >First name must contain atleast 3 characters <br
        /></small>

        <small
          *ngIf="
            createForm.get('fName')?.hasError('maxlength') &&
            (createForm.get('fName')?.touched || createForm.get('fName')?.dirty)
          "
          >First name should not exceed 15 characters</small
        >}
      </div>

      <div class="col mb-3">
        <label for="lName" class="form-label">Last Name </label>
        <input
          type="text"
          class="form-control"
          id="lName"
          formControlName="lName"
        />
        <small
          *ngIf="
            createForm.get('lName')?.hasError('required') &&
            (createForm.get('lName')?.touched || createForm.get('lName')?.dirty)
          "
        >
          Last name is required
        </small>

        <small
          *ngIf="
            createForm.get('lName')?.hasError('pattern') &&
            (createForm.get('lName')?.touched || createForm.get('lName')?.dirty)
          "
          >Last name must only contain alphabetical characters</small
        >
        @if (!createForm.get('lName')?.hasError('pattern')) {
        <small
          *ngIf="
            createForm.get('lName')?.hasError('minlength') &&
            (createForm.get('lName')?.touched || createForm.get('lName')?.dirty)
          "
          >Last name must contain atleast 3 characters <br
        /></small>

        <small
          *ngIf="
            createForm.get('lName')?.hasError('maxlength') &&
            (createForm.get('lName')?.touched || createForm.get('lName')?.dirty)
          "
          >Last name should not exceed 15 characters</small
        >}
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
      />
      <small
        *ngIf="
          createForm.get('email')?.hasError('required') &&
          (createForm.get('email')?.touched || createForm.get('email')?.dirty)
        "
      >
        Email is required
      </small>
      <small
        *ngIf="
          createForm.get('email')?.hasError('pattern') &&
          (createForm.get('email')?.touched || createForm.get('email')?.dirty)
        "
        >Please enter a valid email address</small
      >
    </div>

    <div class="mb-3">
      <label for="age" class="form-label">Age</label>
      <input
        type="number"
        class="form-control"
        id="age"
        formControlName="age"
      />
      <small
        *ngIf="
          createForm.get('age')?.hasError('required') &&
          (createForm.get('age')?.touched || createForm.get('age')?.dirty)
        "
      >
        Age is required
      </small>
      <small
        *ngIf="
          createForm.get('age')?.hasError('max') &&
          (createForm.get('age')?.touched || createForm.get('age')?.dirty)
        "
        >Age must be less than 100</small
      >
      <small
        *ngIf="
          createForm.get('age')?.hasError('min') &&
          (createForm.get('age')?.touched || createForm.get('age')?.dirty)
        "
        >Age must be greater than 0</small
      >
    </div>
    <div style="margin-top: 5rem; display: flex; justify-content: center">
      <button
        (click)="onSubmit()"
        type="submit"
        class="btnCrt"
        [disabled]="createForm.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
