<div style="margin: 5rem; display: flex; justify-content: center">
  <h1>Create new user</h1>
</div>

<div style="margin-left: 10rem; margin-right: 10rem">
  <form>
    <div class="mb-3">
      <label for="fname" class="form-label">First Name</label>
      <input type="text" class="form-control" id="fname" />
    </div>

    <div class="mb-3">
      <label for="lname" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lname" />
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>

    <div class="mb-3">
      <label for="ageInput" class="form-label">Age</label>
      <input type="number" class="form-control" id="ageInput" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
