<div style="margin: 5rem; display: flex; justify-content: center">
  <h1><b>Edit employee data</b></h1>
</div>

<div style="margin-left: 10rem; margin-right: 10rem">
  <form [formGroup]="editForm">
    <div class="mb-3">
      <label for="fName" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="fName"
        formControlName="fName"
      />

      <small
        *ngIf="
          editForm.get('fName')?.hasError('required') &&
          (editForm.get('fName')?.touched || editForm.get('fName')?.dirty)
        "
      >
        First name is required
      </small>

      <small
        *ngIf="
          editForm.get('fName')?.hasError('pattern') &&
          (editForm.get('fName')?.touched || editForm.get('fName')?.dirty)
        "
        >First name must only contain alphabetical characters</small
      >
      @if (!editForm.get('fName')?.hasError('pattern')) {
      <small
        *ngIf="
          editForm.get('fName')?.hasError('minlength') &&
          (editForm.get('fName')?.touched || editForm.get('fName')?.dirty)
        "
        >First name must contain atleast 3 characters <br
      /></small>

      <small
        *ngIf="
          editForm.get('fName')?.hasError('maxlength') &&
          (editForm.get('fName')?.touched || editForm.get('fName')?.dirty)
        "
        >First name should not exceed 15 characters</small
      >}
    </div>

    <div class="mb-3">
      <label for="lName" class="form-label">Last Name </label>
      <input
        type="text"
        class="form-control"
        id="lName"
        formControlName="lName"
      />
      <small
        *ngIf="
          editForm.get('lName')?.hasError('required') &&
          (editForm.get('lName')?.touched || editForm.get('lName')?.dirty)
        "
      >
        Last name is required
      </small>

      <small
        *ngIf="
          editForm.get('lName')?.hasError('pattern') &&
          (editForm.get('lName')?.touched || editForm.get('lName')?.dirty)
        "
        >Last name must only contain alphabetical characters</small
      >
      @if (!editForm.get('lName')?.hasError('pattern')) {
      <small
        *ngIf="
          editForm.get('lName')?.hasError('minlength') &&
          (editForm.get('lName')?.touched || editForm.get('lName')?.dirty)
        "
        >Last name must contain atleast 3 characters <br
      /></small>

      <small
        *ngIf="
          editForm.get('lName')?.hasError('maxlength') &&
          (editForm.get('lName')?.touched || editForm.get('lName')?.dirty)
        "
        >Last name should not exceed 15 characters</small
      >}
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
      />
      <small
        *ngIf="
          editForm.get('email')?.hasError('required') &&
          (editForm.get('email')?.touched || editForm.get('email')?.dirty)
        "
      >
        Email is required
      </small>
      <small
        *ngIf="
          editForm.get('email')?.hasError('pattern') &&
          (editForm.get('email')?.touched || editForm.get('email')?.dirty)
        "
        >Please enter a valid email address</small
      >
    </div>

    <div class="mb-3">
      <label for="age" class="form-label">Age</label>
      <input
        type="number"
        class="form-control"
        id="age"
        formControlName="age"
      />
      <small
        *ngIf="
          editForm.get('age')?.hasError('required') &&
          (editForm.get('age')?.touched || editForm.get('age')?.dirty)
        "
      >
        Age is required
      </small>
      <small
        *ngIf="
          editForm.get('age')?.hasError('max') &&
          (editForm.get('age')?.touched || editForm.get('age')?.dirty)
        "
        >Age must be less than 100</small
      >
      <small
        *ngIf="
          editForm.get('age')?.hasError('min') &&
          (editForm.get('age')?.touched || editForm.get('age')?.dirty)
        "
        >Age must be greater than 0</small
      >
    </div>
    <div class="d-grid gap-2" style="margin-top: 2rem">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="editForm.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
