<div style="margin: 5rem; display: flex; justify-content: center">
  <h1><b>Home Page</b></h1>
</div>

<div
  style="
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 5rem;
  "
>
  <!-- displays the table only when it has atleast one dataset -->
  @if(newEmp.length>0){
  <table class="table table-hover">
    <thead>
      <tr style="text-align: center">
        <th>Sr No</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email Id</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- iterates over each element of newEmp array -->
      @for (item of newEmp; track $index) {
      <tr style="text-align: center">
        <td>{{ $index + 1 }}</td>
        <td>{{ capitalizeWord(item.fName) }}</td>
        <td>{{ capitalizeWord(item.lName) }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.email }}</td>
        <td>
          <button
            (click)="handleEdit(item)"
            type="button"
            class="btn btn-outline-primary"
            routerLink="edit"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil-square"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
              />
            </svg>
          </button>

          <button
            (click)="handleDelete(item.id)"
            style="margin-left: 5px"
            type="button"
            class="btn btn-outline-danger"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"
              />
            </svg>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @else {
  <div style="text-align: center">
    <h4>No data available</h4>
    <h6>Click the add button to add data</h6>
  </div>
  }
</div>

<div class="d-grid gap-2" style="margin-left: 10rem; margin-right: 10rem">
  <button type="button" class="btn btn-primary" routerLink="create">Add</button>
</div>
