.homeHd::after {
  content: " 🏠";
}

.emoji::after {
  content: " 🫠";
}

.res-table {
  max-height: 300px;
  width: 100rem;
  overflow-y: auto;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

thead th {
  padding: 20px;
  background-color: beige;
}

tr {
  padding: 10px;
}

.btnAdd {
  background-color: rgb(169, 214, 255);
  border-radius: 6px;
  height: 50px;
  width: 50px;
}
